$primaryColor: #0A65FF;
$negativeColor: #E01A1A;
$positiveColor: #008400;
$infoColor: #0276BA;
$warningColor: #BA5300;
$backgroundColor: #FFF;
$fontPrimary: #2E3B52;
$fontSecondary: #606F89;
$iconStrokePbg: #6F809E;
$iconStrokeStripes: #7D90B2;
$parentBg: #DAE1EC;
$selectedColor: #EBF2FF;
$stripesColor: #F4F7FC;
