.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 50px 0 10px;
  background: rgba(244, 247, 252, 0.75);
  text-transform: uppercase;

  th {
    display: flex;
    align-items: center;
    padding: 12px 0;
  }
  &__id{
    width: 36px;
  }
  &__name {
    width: 160px;
    cursor: pointer;
  }
  &__description {
    width: 238px;
  }
  &__status{
    width: 80px;
  }

  &__rate, &__balance, &__deposit {
    width: 100px;
    text-align: right;
    justify-content: flex-end;
  }
}
